h1 {
    font-size: 30px;
    background-color: rgb(78, 157, 157);
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(35, 34, 34);
    color: aliceblue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 5px solid cornflowerblue;
    padding: 10px;
    text-align: center;

}

.navbar {
    background-color: rgb(103, 103, 92);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Nav-but {
    color: coral;
    width: 150px;
    height: 20px;
    font-size: 15px;
}
header{
    margin: 0;
    padding:0;

}
.home-head{
text-align: center;

}
.home-p{
    text-align: center;
    margin: 70px;
    margin-top: 150px;
    font-size: 25px;
}
.vid-bod{
    text-align: center;
    background-color: black;
    border-radius: 20px;
margin-top: 100px;
}
